
<nav class="navbar navbar-default navbar-fixed-top colored-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-left"><img src="/images/bclogo.png" class="img-responsive logo" title="It's Crispy"></span>
      <a class="navbar-brand" href="/">
        <span class="brand-title">
          BurntCode
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/resume">Resume Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/skillset">Skill Set</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/work">Related Work</a>
        </li><li class="nav-item">
          <a class="nav-link" href="/resume/military">Military</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<content>
  <container class="jumbotron white-bg">
    <div class="row content-title">
      <span>Educated at Bridgewater State University</span>
    </div>
    <div class="row content-body">
      <div class="col-sm-4">
        <image class="img-responsive body-image" alt="BSU Banner" src="/images/bearsbanner.png" align="left"></image>
        <p>
          The path I took toward a Bachelors Degree was atypical.  I did not graduate high
          school, go to College, and graduate a young man new to the world.  Instead, I
          graduated high school, went to work, attended community college, went to
          Bridgewater State College, Enlisted in the Army, returned to Bridgewater State
          University, and graduated a not so young man with experience beyond that of a
          typical college graduate.
        </p>
        <p>
          In the first leg of my degree, Bridgewater State was a college.  The subjects
          I studied were lower level by comparison.  I learned the basics of binary
          arithmetic, and programmed in assembly language and
          C++.  I had always had an interest in programming, starting with BASIC when I
          was in grade school, but these first few years at Bridgewater where were I was
          really exposed to the workings of the computer.  I knew that I was where I
          wanted to be and on the road I wanted to be on.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          In the first semester of my junior year, the United States was still in a war.
          I wish I had a great story to tell about why I made the decision to enlist.
          Truth of the matter is that I saw a report on the television about how there
          weren’t enough troops, how soldiers were being sent over for tour after tour,
          and I just thought I could help.  I chose the Army because I could select the
          training I would receive.  I chose communications because it involved
          computers, and off I went.
        </p>
        <p>
          After my 8 year contract was up, I immediately returned to school.  At
          this point Bridgewater State had become a University.  This meant that the
          curriculum had changed slightly and now I needed 2 more years in order to
          graduate, instead of the 1 I had anticipated.  In this second leg of my college education I was exposed to many
          languages, operating heavily in Java, SQL, and Python.  I learned about
          testing with BDD and TDD.  I met the travelling salesman.  I learned about the development lifecycle and
          Waterfall and Agile.  I learned about version control systems.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          This transition back into academics was a shock.  It was like starting a
          computer science program from the junior year.  There were a lot of things
          that I needed to relearn or teach myself in order to keep up.  It was far from
          easy, but I learned what was possibly the most valuable thing.  I learned that I have
          the intelligence, organization, and drive to learn independently.  Instead of
          being intimidated by a technology I am unfamiliar with, I know I can master it.
          The same way I was able to integrate back into academics and thrive, I know
          that whatever I do in the future, I will be successful.
        </p>
      </div>
    </div>
  </container>
</content>
