

<container class="jumbotron">
  <div class="row">
    <!-- left margin -->
    <div class="col-xs-2">
    </div>
    <!-- center body -->
    <div class="col-xs-8">
      <h1>Ready to start JQuery Practice</h1>
      <a href="/exp">Link back to Check click event</a>
      <br>
      <iframe src="http://techcrunch.com"></iframe>
      <h1 id="ready"></h1>
      <h1 id="loaded"></h1>
    </div>
    <!-- right gutter -->
    <div class="col-xs-2">
    </div>

  </div>
</container>
