<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">Jeffrey Turner</h3>
					<nav>
						<ul class="nav masthead-nav">
							<li class="active"><a href="#">Enter</a></li>
							<li><a href="/resume">Employers</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="inner cover">
				<h1 class="cover-heading">Burnt Code</h1>
				<p class="lead">Burnt code is a personal website intended to be my own digital playground</p>
				<p class="lead">
					<a href="#" class="btn btn-lg btn-default">Action Button</a>
				</p>
			</div>
		</div>
	</div>
</div>
