<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="masthead clearfix">
				<div class="inner">
					<h3 class="masthead-brand">
						<address>
						  <strong>Jeffrey Turner</strong><br>
						  99 Leaf Lane<br>
						  East Bridgewater, Ma 02333<br>
						  <abbr title="Cell">C:</abbr> (508)631-3607
						</address>
					</h3>
					<nav>
						
					</nav>
				</div>
			</div>
			<div class="inner cover">
				<image class="img-responsive" src="/images/bclogo.png"></image>
				<h1 class="cover-heading">Burnt Code</h1>
				<p class="lead">Presently, Burnt Code is intended for employers.  On
				this site you can find my resume and any projects that I am working on.</p>
				<p class="lead">
					<a href="/projects" class="btn btn-lg btn-default">My Projects</a>
					<a href="/resume" class="btn btn-lg btn-default">View Resume</a>
				</p>
			</div>
		</div>
	</div>
</div>
