
<nav class="navbar navbar-default navbar-fixed-top colored-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-left"><img src="/images/bclogo.png" class="img-responsive logo" title="It's Crispy"></span>
      <a class="navbar-brand" href="/">
        <span class="brand-title">
          BurntCode
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/resume">Resume Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/skillset">Skill Set</a>
        </li><li class="nav-item">
          <a class="nav-link" href="/resume/work">Related Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<content>
  <container class="jumbotron white-bg">
    <div class="row content-title">
      <span>United States Army</span>
    </div>
    <div class="row content-body">
      <div class="col-sm-4">
        <image src="/images/signalcorp.jpg" class="img-responsive body-image"></image>
        <p>
          I loved my time in the Army.  I enlisted as a 25 uniform, which is a
          signal system support specialist.  In practice, I was known as “the
          commo guy”. I dealt with any and all sorts of communications and
          electronics.  My jobs ranged from standard networks to force tracking
          systems.  Most of the equipment that I saw is Military centric and I
          don’t expect to run into it in the civilian sector as a software engineer.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          What I do think will help is the discipline, problem solving,
          leadership and teamwork skills that I learned.  In my position in as
          a 25U, I was able to be placed into any unit.  Units are built by
          slots and there is always a commo slot.  Because of this I was able
          to serve in a chemical company, a financial unit and a civil affairs
          unit, all in a commo sergeant’s slot.   In practical terms, this meant
          I was always working in a small team in a critical role that a larger
          team was depending on.  I was responsible for inventory management.
          I was also responsible for installation and programming of all communications
          devices.  I was communications, and the soldiers around me needed me
          to do my job so that they could do theirs.  That experience has served
          me very well.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          I am proud of my service, but more than that, I am thankful for it.
          When I was first discharged and returned to school, there were a few times
          when I wondered where I would be had I not enlisted.  I can honestly
          say that I have never regretted my decision and believe it was the right thing
          for me.  The Army gave me experiences, friendships, and skills that I
          could not receive anywhere else in life.  It hard for me to
          conceptualize trading those things for an earlier graduation date.
        </p>
      </div>
    </div>
  </container>
</content>
