<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="flexrow">
        <image class="img-responsive sitelogo" src="/images/bclogo.png"></image>
        <p class="bigfont title">BurntCode</p>
        <p class="midfont blue">Projects Hub</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="sidebar-nav">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Sidebar Menu</span>
          </div>
          <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home Page</a></li>
              <li><a href="/resume">Resume Page</a></li>
              <li><a href="/projects">Projects Hub</a></li>
              <li><a href="#">Other link</a></li>
              <li><a href="#">And Another link</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10">
      <!-- main content area -->
      <div class="row">
        <div class="col-xs-10 borderbox">
          <div class="blurb box">
            <p>My projects root</p>
            <a href="/interviewcode">Interview Code</a>
            <a href="/pythonproj">Python Projects</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
