
<nav class="navbar navbar-default navbar-fixed-top colored-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-left"><img src="/images/bclogo.png" class="img-responsive logo" title="It's Crispy"></span>
      <a class="navbar-brand" href="/">
        <span class="brand-title">
          BurntCode
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/resume">Resume Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Related Work</a>
        </li><li class="nav-item">
          <a class="nav-link" href="#military">Military</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<content>
  <container class="jumbotron white-bg">
    <div class="row content-title">
      <div class="col-xs-12">
        <span>Skillset</span>
      </div>
    </div>
    <div class="row content-body">
      <div class="col-xs-12">
        <ul class="list-group">
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Java</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/javalogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I wrote most of my academic code with Java.  I am very
                    comfortable using it.  The largest project I worked on was the
                    Galago open source search engine.  I like this language and will
                  definitely continue to learn it.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Python</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/pythonlogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I started using python academically.  I continue to use it.
                  I like it and would like to do a larger project using it.  For this website
                I opted for Javascript.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Javascript</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/jslogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>My experience with javascript comes from creating browser games,
                  and using it in Node.  I am very comfortable here as well.  This
                  website uses javascript and the jquery library.  I have
                  interest in angular as well.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">C++</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/c++logo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>2 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>Although I have used C++ quite a bit, it has been a while.
                  It is a skill I want to reaquaint myself with.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">SQL</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/sqllogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>SQL felt very natural to me when I was first introduced to it.
                  I am very comfortable using SQL.  This website uses postgres for
                  it's data.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Prolog</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/prologlogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>2 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>All told, I have probably spent a good 2 months working with prolog.
                  It was something I found interest in because of its difference to OOP.
                  I mostly hacked at the code for Nani, eventually writing my own version.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Node</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/nodelogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I was introduced to Node academically and I continue to use it.
                    This website is a Node/Express application running on a Virtual Server
                    using Ubuntu and Nginx as a reverse proxy to Node.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Express</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/expresslogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I am using Express as my framework for this website.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Git</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/githublogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>Git is the only version control system that I have used.
                  I am comfortable with it, but always want to know more.  You can
              find my <a href="https://github.com/jturner1120" target="_blank">GitHub</a> here.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Ajax</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/ajaxlogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires.</p>
                </div>
                <div class="col-sm-6">
                  <p>While this isn't a language, I see people advertise for it.  So, yes
                  I know what it is, what it does, and I do use it.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">JQuery</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/jquerylogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>Again, not a language, but a library.  I see people want to
                  know if you know Jquery, so yes I do.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">Postgres</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/postglogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>2 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>Postgres is the DB that I am most familiar with.  I have used
                   postgres academically, and PostGIS in a professional setting.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">SQLite</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/sqlitelogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>2 fires</p>
                </div>
                <div class="col-sm-6">
                  <p>SQLite was used academically for a project.  In the project
                  I designed, normalized, and implemented a database used to store
                and retrieve PGA player, course, and tournament statistics</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">CSS</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/csslogo.jpg"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>3 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I obviously use CSS.  I actually am fascinated by it.  Its
                    seems simple to to start, but when I see some of the amazing things
                  that some people have done with it, it really does impress.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">HTML</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/htmllogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>4 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I am very familiar with HTML having both created web sites and
                  browser based applications.</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="panel panel-default">
              <div class="panel-heading">
                <span class="item-title">CLI: Windows/Unix</span>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-3">
                  <image class="img-responsive skill-logo" src="/images/linuxlogo.png"></image>
                  <image class="img-responsive skill-logo" src="/images/windowslogo.png"></image>
                </div>
                <div class="col-xs-6 col-sm-3">
                  <p>4 Fires</p>
                </div>
                <div class="col-sm-6">
                  <p>I am comfortable on the Command Line in both a windows and
                  Unix envioroment.  I've developed parts of this site in directly on the server
                using vim.</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </container>
</content>
