<nav class="navbar navbar-default navbar-fixed-top colored-bg">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-left"><img src="/images/bclogo.png" class="img-responsive logo" title="It's Crispy"></span>
      <a class="navbar-brand" href="/">
        <span class="brand-title">
          BurntCode
        </span>
      </a>
    </div>
    <div class="collapse navbar-collapse navbar-right" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/resume">Resume Overview<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/skillset">Skill Set</a>
        </li><li class="nav-item">
          <a class="nav-link" href="/resume/military">Military</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/resume/contact">Contact Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<content>
  <container class="jumbotron white-bg">
    <div class="row content-title">
      <span>Internship with the Town of East Bridgewater</span>
    </div>
    <div class="row content-body">
      <div class="col-sm-4">
        <image class="img-responsive body-image" src="/images/eastbridgewater.jpg"></image>
        <p>
          In the summer of my junior year I was given the opportunity to intern
          for the Town of East Bridgewater.  They were in need of an individual
          who could learn a new piece of software, and then complete projects
          and train users.  The software was a web based implementation
          combining forms and geospatial data.  It used javascript/jquery, as
          well as PostgresSql with PostGIS for spatial data, to interface with
          the software.  I became the subject matter expert for the Town.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          I was able to build several systems for the town using the software.
          Some notable examples are a Burning Permit application and monitoring
          system for the town’s Fire Department, a fire hydrant location and
          maintenance app for the Department if Public Works, and an electrical
          permitting application and processing system for the Building
          Department.  In addition to this I created several interactive maps
          for various town departments.  Examples include dog location and
          licensing, home assessments, and land ownership maps.
        </p>
      </div>
      <div class="col-sm-4">
        <p>
          As my internship ended, I was transitioned into full time work, and
          eventually, as I returned to school, into a role as a consultant for
          the town.  I continue to answer any questions and occasionally train
          town employees on the use of the software.  I am glad for the
          experience, for the strong relationships I was able to form, and I am
          proud of the work that I did.
        </p>
      </div>
    </div>
  </container>
</content>
