body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75em;
}

#fadedborder {
  margin: 0 0 1px;
}

#descriptions {
  padding: 15px;
}

.card {
  padding-left: 0px;
  padding-right: 0px;
  border: 1px solid;
  border-color: rgb(169, 201, 242);
}


.row .cardtitle {
  padding-left: 10px;
  border-bottom: 1px solid;
  border-color: rgb(169, 201, 242);
  background-color: rgba(255, 223, 177, .8);
}

.blue{
  color: rgb(169, 201, 242);
}

.blue-bg {
  background-color: rgb(169, 201, 242);
}

.panel-default .panel-heading {
  background-color: rgb(255, 223, 177);
}

.panel-group .panel-default .panel-heading {
  background-color: rgb(255,244,229);
}

.bigfont {
  font-size: 4.5em;
  color: inherit;
}

.midfont {
  font-size: 2.58em;
}

.smallfont {
  font-size: 1.70em;
}

.mutedfont {
  opacity: .30;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  align-items: baseline;
}

.sitelogo {
  max-height: 175px;
}

.title {
  color: orange;
}

.blurb {
  font-size: 1.15em;
  padding-right: 15px;
}

.lesson {
  border-right: solid 1px;
}

.icon {
  max-height: 130px;
}

.borderbox {
    background-color: #eee; /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(to right, #000, #fff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to right, #000, #fff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to right, #000, #fff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to right, #000, #fff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to right, #000, #fff); /* Standard syntax; must be last */
    padding: 1px 0 0 0;
    opacity: 0.5;
}

.box {
  background: #fff;
  margin-top: -1px;
}

.bordered {
  border: 1px solid;
  border-radius: 8px;
  border-color: orange;
  background-color: white;
}

.diamond-back p {
  padding-left: 10px;
}

.content-frame {
  background-color: rgb(169, 201, 242);
  padding: 15px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
